<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hsd.codelab.xian">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MaterialTheme">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BeginnerLevelActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".MediumLevelActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".AdvancedLevelActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".beginnerlevel.AccountLoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".beginnerlevel.CodeScannerActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".beginnerlevel.AdsDisplayActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".mediumlevel.ArMeshActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".mediumlevel.PushMessageActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".mediumlevel.MlSegActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".advancedlevel.ArCombineActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".advancedlevel.VoiceTranslateActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>
